*.tar.gz
*.pdf

apache-tomcat-prod/
generated/
target/
*.class

# eclipse
.project
.classpath
.settings/
.wtpmodules
.metadata

# intellij
*.iml
*.ipr
*.iws
.idea

*.log
*.tlog

derbyDB/
*.swp
.DS_Store

# junit
TEST-*.txt
TEST-*.xml

# hprof
java_pid*

# vi backup file
*~

# gradle
.gradle/
/build
